@import url("./animation.css");

/*
 全局元素
*/
:root {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体",
		sans-serif;
	box-sizing: border-box;
}

*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

#app {
	min-height: 120vh;
	background-color: #eceff1;
}

li {
	list-style: none;
}

/*
 全局滚动条
*/
::-webkit-scrollbar {
	width: 11px;
	height: 11px;
	background-color: rgb(246, 247, 248);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(217, 217, 217);
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background-color: rgb(246, 247, 248);
	border-radius: 10px;
}

/*
 GPU 优化，加在应用动画元素的父级
*/
.will-change-contents {
	will-change: contents;
}
